.left {
    position: fixed;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textWrap {
    width: 50%;
    // transform: translateX(-5vw);
}

.home {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.left h1{
    margin-top: 76px;
    margin-bottom: 55px;
    color: white;
    font-weight: 100;
    font-size: 80px;
    line-height: 90px;
}

.left h4 {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    background: linear-gradient(90deg, rgba(235,27,15,1) 0%, rgba(255,166,31,1) 25%, rgba(102,102,102,1) 50%, rgba(53,36,253,1) 75%, rgba(18,171,71,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 12px;
}


.right {
    position: fixed;
    top: 0;
    right: 0;
    background: black;
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}
